<%- include('../partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">
          Add New Campground
        </a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% for(const camp of campgrounds) { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= camp.image %>" />
        <div class="caption">
          <h4><%= camp.name %></h4>
        </div>
        <p>
          <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">
            More Info
          </a>
        </p>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include('../partials/footer') %>
